body {
  font-family: "Montserrat";
}

.head {
  font-family: Ubuntu;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.display-5 {
  color: white;
}

.pb-2 {
  color: black;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 2rem;
}

p {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  color: #8f8f8f;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.container-fluid {
  background-color: #ff4c68;
}

.d-block {
  transform: rotate(25deg);
}

.navbar {
  height: 100px;
  padding: 2 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  color: white;
}

.nav-link:hover{
  color: #00bfff;
}

.d-flex {
  padding-top: 2%;
}

.icon-square:hover {
  color: red;
}

.bi:hover {
  color: red;
}

.imgbest {
  width: 15%;
  border-radius: 50%;
}

.d-fblock {
  height: 600px;
  width: 100%;
}

/* Testimonials section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
}

.testimonial-image {
  width: 40%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 20px;
}

.row {
  padding-top: 5%;
}

.display-4 {
  padding-top: 5%;
}

.fs-5 {
  font-size: 2rem;
}

.copy {
  color: white;
}

@media (max-width: 160px){
}
